---
import Container from '../shared/Container.astro';
import Title from '../shared/Title.astro';
---

<section id='features'>
	<Container className='flex flex-col midmd:flex-row gap-10 lg:gap-12'>
		<div class='flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col'>
			<Title> Specializing in </Title>
			<table class='table-auto'>
				<br />
				<br />
				<tbody class='dark:text-heading-3'>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Electrical</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Curtains</td
						>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Windows</td
						>
						<td>
							<span
							class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Baseboard/Trim</td>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Doors</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Assembly Services</td
						>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Tiles/Bricks</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Smart Home</td
						>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Bathroom</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Power washing</td
						>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Painting</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Drywall/Finishing</td
						>
					</tr>
					<tr>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Handyman</td
						>
						<td
							><span
								class='font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center'
								>&checkmark;</span
							>Concrete</td
						>
					</tr>
				</tbody>
			</table>
		</div>

		<div
			class='max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto'>
			<div
				class='flex flex-1 lg:w-full lg:h-9/12 relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl'>
				<div class="carousel w-full rounded-3xl">
					
					<div id="slide1" class="carousel-item relative w-full">
						<img
							src="/images/slide1.webp"
							class="w-full" />
						<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
							<a href="#slide4" class="btn btn-circle">❮</a>
							<a href="#slide2" class="btn btn-circle">❯</a>
						</div>
					</div>

					<div id="slide2" class="carousel-item relative w-full">
						<img
							src="images/slide2.webp"
							class="w-full" />
						<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
							<a href="#slide1" class="btn btn-circle">❮</a>
							<a href="#slide3" class="btn btn-circle">❯</a>
						</div>
					</div>

					<div id="slide3" class="carousel-item relative w-full">
						<img
							src="/images/slide3.webp"
							class="w-full" />
						<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
							<a href="#slide2" class="btn btn-circle">❮</a>
							<a href="#slide4" class="btn btn-circle">❯</a>
						</div>
					</div>

					<div id="slide4" class="carousel-item relative w-full">
						<img
							src="images/slide4.webp"
							class="w-full" />
						<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
							<a href="#slide3" class="btn btn-circle">❮</a>
							<a href="#slide5" class="btn btn-circle">❯</a>
						</div>
					</div>

					<div id="slide5" class="carousel-item relative w-full">
						<img
							src="images/slide5.webp"
							class="w-full" />
						<div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
							<a href="#slide4" class="btn btn-circle">❮</a>
							<a href="#slide1" class="btn btn-circle">❯</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</Container>
</section>
